################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/1. ArrayandStrings/1. ArrayandStrings.vcxproj.user
/Code/1. ArrayandStrings/1. ArrayandStrings.sln
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/Browse.VC.db-shm
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/Browse.VC.db-wal
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/Browse.VC.opendb
*.vcxproj
/Code/1. ArrayandStrings/1. ArrayandStrings.vcxproj.filters
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/Browse.VC.db
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/.suo
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/ipch/AutoPCH/3d0119b6272bbb8f/MAIN.ipch
/Code/1. ArrayandStrings/.vs/1. ArrayandStrings/v16/ipch/AutoPCH/57e539c20e8f25bc/MAIN.ipch
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/ipch/AutoPCH/e666920d6d5f81c7/SOURCE.ipch
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/Browse.VC.opendb
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/Browse.VC.db-wal
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/Browse.VC.db-shm
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/Browse.VC.db
/Code/Ch1_Array and Strings/.vs/Ch1_Array and Strings/v16/.suo
